// Styling for the about section

#about {
  .btn {
    margin-top: 50px;
  }
}

#photoArtist {
  //border: 3px solid $white;
  .img-fluid {
    width: 50%;
    height: auto;
    border-radius: 50%;
    //border: 3px solid $white;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255,.5) !important;
  }
}

#descriptionList {
  margin-top: 10px;
}

@media (max-width: 992px) {
  #descriptionArtist {
    margin-top: 50px;
  }
}




