#contact-form {
  padding-top: 8rem;

  .btn {
    color: $white;
  }

  .btn:disabled {
    background-color: $gray-900;
  }

  input:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(147,122,148,.5) !important;
  }

  select:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(147,122,148,.5) !important;
  }

  textarea:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(147,122,148,.5) !important;
  }
}