// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url('../img/header.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }

  img {
    width: 20%;
  }

  .description {
    font-weight: bold;
    color: $white;
  }

  @media (max-width: 768px) {
    p {
      font-size: 1.15rem;
    }
    img {
      width: 40%;
    }
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
    img {
      width: 30%;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 3rem;
    }
    img {
      width: 25%;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
}
